/*.wrapper*/
/*{*/
/*    display: grid;*/
/*    grid-template-columns: 25% 50% 25%;*/
/*    grid-template-rows: 15% 75% 10%;*/
/*}*/

/*.header*/
/*{*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 4;*/
/*}*/

/*.left*/
/*{*/
/*    grid-row-start: 2;*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 2;*/
/*}*/

/*.right*/
/*{*/
/*    grid-row-start: 2;*/
/*    grid-column-start: 3;*/
/*    grid-column-end: 4;*/
/*}*/

/*.center*/
/*{*/
/*    grid-row-start: 2;*/
/*    grid-column-start: 2;*/
/*    grid-column-end: 3;*/
/*}*/

/*.footer*/
/*{*/
/*    grid-row-start: 3;*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 4;*/
/*}*/
@font-face { font-family: OldLondon; src: url('../OldLondon.ttf'); }
@font-face { font-family: OldLondon; font-weight: bold; src: url('../OldLondon.ttf');}
.h-fluid {
    height: 100vh;
}
.w-fluid {
    width: 100%;
}
.o-md-1 {
    opacity: 0;
}
@media(min-width: 768px) {
    .o-md-1 {
        opacity: 1;
    }
}
@media(max-width: 767px) {
    .h-umd-0 {
        height: 100px;
    }
}
.landing-img {
    background-image: url("../propaganda/face.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.raxmode {
    --primary: #F28E30;
    --primary-dark: #F28E30;
    --primary-light: #F28E30;
}
.spacer {
    width: 100%;
    height: 20px;
}
.cursor-hand {
    cursor: pointer;
}