@charset "UTF-8";
@font-face { font-family: OldLondon; src: url('../fonts/OldLondon.ttf'); }
@font-face { font-family: Quicksand; src: url('../fonts/Quicksand-Medium.ttf'); }

body
{
    background-color: #101010;
    background-repeat: repeat;
    background-image: url(../../propaganda/background.png);
    font-family: Quicksand, sans-serif
}
#disclaimer
{
    position: sticky;
    bottom: 0;
}

main
{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

footer
{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.wrapper
{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.left
{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 0% 30% 0% 15%;
    animation-delay: 0.1s; animation-duration: 0.5s;
}

#profile-picture
{
    width: 32px;
    height: 32px;
    border-radius: 32px;

    margin-right: 5px;
}

.right
{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0% 15% 0% 30%;
    animation-delay: 0.2s;
}


.author-text
{
    font-style: italic;
    opacity: 0.7;
    font-size: 18px;
}

.author-text::before
{
    content: "by ";
}

div.text-centered
{
    text-align: center;
}

div.card-header
{
    background-color: #191919;
    color:white; 
    font-size: 20px;   
}

img.article
{
    align-self: center; 
    margin-top: 10px; 
    margin-bottom: 10px;
}
main div.card {
    margin-top: 15px;
}

header h1
{
    margin-left: 1%;
    margin-right: 1%;
    color: white; 
    text-align: center; 
    margin-top: 10px; 
    font-family: OldLondon, sans-serif;
    font-size: 72px;
}

ul.nav li a
{
    font-size: 21px; 
    margin-left: 10px;
}

a.disabled
{
    display: none;
}

.h-full {
    height: 100vh;
}

.font-size-32 {
    font-size: 32px;
}

@media only screen and (max-width: 991px) 
{
    .left 
    {
        display: none;
    }
    .right 
    {
        display: none;
    }
    .wrapper 
    {
        grid-template-columns: 10% 80% 10%;
    }
}